html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Хедер*/

header {
  position: relative;
}

.container-header {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 80px;
  margin: auto;
  justify-content: center;
}

.logo {
  font-family: Raleway, cursive;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000;
}
.logo-color {
  color: var(--accent-color);
}

.list-nav {
  margin-left: 93px;
}

.list-item {
  margin-right: 50px;
  letter-spacing: 0.02em;
}

.list-item:last-child {
  margin-right: 0px;
}

.contacts {
  display: flex;
  letter-spacing: 0.02em;
}

.contact-item:first-child {
  margin-right: 30px;
}

/* навігація в хедері*/

a .logo {
  display: inline-block;
}

ul {
  display: inline-block;
  padding-inline-start: 0px;
}

.site-nav {
  display: flex;
  flex-shrink: 0;
}

.site-nav li {
  display: inline-block;
}

.site-nav a {
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

li .page {
  color: var(--accent-color);
}

.page {
  position: relative;
}

.page::after {
  position: absolute;
  left: 0;
  bottom: -28px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  z-index: 1;
}

/*Контакти в хедері*/

.contacts {
  margin-left: 318px;
  flex-shrink: 0;
}

.contact-item {
  margin-right: 0px;
}

.contacts:first-child {
  margin-right: 50px;
}

.contacts a {
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.email {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--accent-color);
}

.email:hover,
.email:focus {
  fill: var(--accent-color);
}
.phone:hover,
.phone:focus {
  fill: var(--accent-color);
}

.contact-icon:hover .email,
.contact-icon:focus .email {
  fill: var(--accent-color);
}

.contact-icon:hover .phone,
.contact-icon:focus .phone {
  fill: var(--accent-color);
}

.header-border {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  border-bottom: 1px solid #ececec;
}

/*Герой*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/bcgnd-foto.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 50%;
  letter-spacing: 0.06em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  max-width: 696px;
  margin: 0px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

/*Кнопка*/

button {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: var(--accent-color);
  border: 0px;
}

.studio {
  background-color: #2196f3;
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.studio:hover,
.studio:focus {
  color: aliceblue;
}

.studio {
  cursor: pointer;
}

/*Секція-1*/

.icon-about {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.methods-list {
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-item-method:last-child {
  margin-right: 0px;
}

.list-item-method {
  width: 270px;
  margin-right: 30px;
}

.method-titles {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.about-method {
  text-align: left;
}

/*Секція-2*/

.content-no-pt {
  padding-top: 0px;
}

.list-item-benefits {
  display: flex;
}

.list-examples {
  margin-right: 30px;
}

.list-examples:last-child {
  margin-right: 0px;
}

.example-photo {
  display: block;
}

.thumb-photo {
  position: relative;
}

.overlay-photo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.photo-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Секція-3*/

.team-list {
  display: flex;
  justify-content: space-between;
}

.about-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card {
  padding-bottom: 30px;
  width: 270px;
  height: 428px;
  background: #ffffff;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
  padding-right: 0px;
}

.team-names {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.job-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-links-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-to-social:hover,
.link-to-social:focus {
  background-color: #2196f3;
}

.link-to-social:hover .icon-social,
.link-to-social:focus .icon-social {
  fill: white;
}

.icon-social {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: (cubic-bezier(0.4, 0, 0.2, 1));
}

.link-to-social {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: (cubic-bezier(0.4, 0, 0.2, 1));
}

.photo {
  display: block;
}

.content-bcgnd {
  background-color: #f5f4fa;
}

/*Секція-4*/

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-icon {
  display: flex;
}

.client-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-to-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-to-client:hover,
.link-to-client:focus {
  border: 1px solid var(--accent-color);
}

.link-to-client:hover .client-icon,
.link-to-client:focus .client-icon {
  fill: var(--accent-color);
}

/*Footer*/

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--primary-white-color);
  display: block;
}

address {
  margin-top: 20px;
}

.location {
  margin-bottom: 9px;
}

.location:last-child {
  margin-bottom: 0px;
}

.footer-nav {
  letter-spacing: 0.03em;
}

footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
}

/* навігація в футері*/

.footer-nav a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
}

.location a {
  color: rgba(255, 255, 255, 0.6);
}

.address-footer:first-child {
  color: var(--primary-white-color);
}

.join-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
}

.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-to-us {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.icon-social-footer {
  fill: white;
}

/*Follow-us*/

.follow {
  display: flex;
  margin-left: 94px;
}

.label-follow {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.follow-us {
  display: flex;
  align-items: flex-end;
}

.follow-input {
  height: 50px;
  width: 358px;
  margin-top: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 1px solid #212121;
}

.follow-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0;
  margin-left: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.follow-icon {
  margin-left: 10px;
  fill: #fff;
}

/*Modal-window*/

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  transition-property: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-сall-back {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.follow-input {
  background-color: #2f303a;
  color: #fff;
  padding-left: 15px;
}

.label-follow input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-modal {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  transition-property: opacity, scale;
  transition-duration: 1s;
}

.button-modal:hover {
  cursor: pointer;
  fill: #188ce8;
}

.button-modal:focus{
  fill: #188ce8;
}

.modal-item {
  margin-bottom: 10px;
}

.modal-item:last-of-type {
  margin-bottom: 20px;
}

.modal-label {
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-box {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000;
  padding-left: 40px;
}

.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: transparent;
}

.modal-input:focus + .modal-window-icon {
  fill: #2196f3;
}

.modal-window-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: transparent;
}
.checkbox {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}



.checkbox-icon {
  display: flex;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  top: -3px;
  left: -25px;
  align-items: center;
  fill: transparent;
  transform: translateY(50%);
}

.modal-checkbox:checked + .checkbox-icon {
  background-color: #188ce8;
  border: transparent;
  fill: #fff;
}

.modal-checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}
.modal-submit {
  cursor: pointer;
  margin: 0;
  padding: 10px 52px;
  color: #fff;
  background-color: #188ce8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

/*Портфоліо*/

/*Копки*/

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-icon {
  padding-top: 0px;
  margin-right: 8px;
}

.btn-icon:last-child {
  margin-right: 0px;
}

.control-btn {
  border: 0px;
  margin-top: 0px;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.control-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-btn button:hover,
.portfolio-btn button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

.portfolio-btn button {
  cursor: pointer;
}

/*Товари*/

.products {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.product-img {
  display: block;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.product {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition-property: translatey(0), background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.product:hover .overlay,
.product:focus .overlay {
  transform: translateY(0);
}

.card-product:hover,
.card-product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-product {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.card-product:nth-child(3n) {
  margin-right: 0px;
}

.card-product:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.products h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.product-name {
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.product-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.about-products {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
